/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020. júl. 15., 9:06:03
    Author     : sire
*/

.button{
    -fx-background-color: #039BE5;
}
.button:hover{
    -fx-background-color: #2919d6;
}

